<div class="background-image"></div>

<div class="pop-up">
  <h1 class="logo">Smart Cookie</h1>

  <form class="group" action="<%= session_url %>" method="post">
    <%= authenticity_token %>

    <label>
      <input type="text" name="user[email]" value="" id="email" placeholder="Email">
    </label>

    <label>
      <input type="password" name="user[password]" value="" id="password" placeholder="Password">
    </label>

    <p class="errors">
      <%= render "errors" %>
    </p>

    <button>Log In!</button>

  </form>

  <br>

  <p>Don't have an account? <a href="<%= new_user_url %>">Sign Up!</a></p>

</div>
