<div class="pop-up">
  <h1>Sign In</h1>

  <form action="<%= session_url %>" method="post">
    <%= authenticity_token %>

    <label>
      Email:
      <input type="text" name="user[email]" value="">
    </label>

    <label>
      Password:
      <input type="password" name="user[password]" value="">
    </label>

    <button>Log In!</button>

  </form>

  <br>

  <p>Don't have an account? <a href="<%= new_user_url %>">Sign Up!</a></p>

</div>
