<h1 class="user-name"> <%= user.escape("name") %> </h1>

<% if (user.authoredRecipes().length > 0) { %>
  <%   if (user.id == CookingGenius.currentUser.id) { %>
    My Recipes
  <% } else { %>
    <%= user.escape("name") %>'s Recipes
  <% } %>

<% } else { %>
  <%   if (user.id == CookingGenius.currentUser.id) { %>
    You haven't added any recipes!
  <% } else { %>
    <%= user.escape("name") %> has not added any recipes!
  <% } %>
<% } %>

<ul class="authored-recipes"></ul>
<button class="display-recipe-form">Create New Recipe</button>
<div class="new-recipe"></div>
