<h1 class="user-name"> <%= user.escape("name") %> </h1>

<p class="num_votes"> Upvotes: <%= user.votes().length %> </p>
<% if (user.id != CookingGenius.currentUser.id) { %>
<button class="toggle-user-upvote">
  <% if (this.model.votes().where({voter_id: CookingGenius.currentUser.id}).length > 0) { %>
    Downvote
  <% } else { %>
    Upvote
  <% } %>
</button>
<% } %>

<h2>
<% if (user.authoredRecipes().length > 0) { %>
  <%   if (user.id == CookingGenius.currentUser.id) { %>
    My Recipes
  <% } else { %>
    <%= user.escape("name") %>'s Recipes
  <% } %>
</h2>

<% } else { %>
  <%   if (user.id == CookingGenius.currentUser.id) { %>
    You haven't added any recipes!
  <% } else { %>
    <%= user.escape("name") %> has not added any recipes!
  <% } %>
<% } %>

<ul class="authored-recipes"></ul>

<% if (user.id == CookingGenius.currentUser.id) { %>
<button class="display-recipe-form">Create New Recipe</button>
<% } %>
<div class="new-recipe"></div>
