<button class="minimize-annotation">X</button>

<h1>Annotate!</h1>

<textarea name="annotation[body]"></textarea>

<div class="group">
<label>
  <div class="fileUpload">
    <input type="file" class="upload" name="annotation[image]" id="annotation-image">
  </div>
</label>
<p class="filename">no file chosen</p>
</div>

<button class="create-annotation">Create Annotation</button>
