<p>
<%= annotation.get("body") %>
</p>

<% var userUrl = "#/users/" + annotation.author().id %>

<p>
by <a href="<%= userUrl %>"> <%= annotation.author().escape("name") %> </a>
</p>

<button class="minimize-annotation"> - </button>
