<button class="minimize-annotation"> x </button>

<p> <%= annotation.get("body") %> </p>

<% var userUrl = "#/users/" + annotation.author().id %>

<p>
by <a href="<%= userUrl %>"> <%= annotation.author().escape("name") %> </a>
</p>

<p class="num_votes"> Upvotes: <%= annotation.votes().length %> </p>

<% if (annotation.author().id != CookingGenius.currentUser.id) { %>
<button class="toggle-annotation-upvote">
  <% if (this.model.votes().where({voter_id: CookingGenius.currentUser.id}).length > 0) { %>
    Downvote
  <% } else { %>
    Upvote
  <% } %>
</button>
<% } %>
