<% if current_user %>
 <div class="logged-in group">
  <form action="<%= session_url%>" method="post">
    <%= authenticity_token %>
    <input type="hidden" name="_method" value="delete">
    <button>log out</button>
  </form>

  <% user_url =  "#/users/#{user.id}" %>
  <h3> logged in as <a href="<%= user_url %>"> <%= user.name %> </a></h3>
 </div>
<% end %>
