<h3>My Recipes</h3>
<% if user.recipes.empty? %>
  <p> You haven't added any recipes! </p>
<% else %>
  <ul class="authored-recipes">
    <% user.recipes.each do |recipe| %>
      <li> <a href="#"> <%= recipe.title %> </a> </li>
    <% end %>
  </ul>
<% end %>
