<div class="background-image"></div>

<div class="pop-up">
  <h1 class="logo">Smart Cookie</h1>

  <form action="<%= users_url %>" method="post">
    <%= authenticity_token %>

    <label>
      Name:
      <input type="text" name="user[name]" value="">
    </label>
    <br>
    <label>
      Email:
      <input type="text" name="user[email]" value="">
    </label>
    <br>
    <label>
      Password:
      <input type="password" name="user[password]" value="">
    </label>
    <br>

    <a href="/auth/twitter">Sign Up with Twitter</a>

    <button>Sign Up!</button>

    <div class="errors">
      <%= render "errors" %>
    </div>

  </form>

  <br>

  <p>
    Already have an account? <a href="<%= new_session_url %>">Sign In!</a>
  </p>

</div>
