<% var recipeURL = "#/recipes/" + recipe.id %>

<a href="<%= recipeURL %>"> <%= recipe.escape("title") %>

  <% var missing = "/assets/original/missing-d75d0e42da3de0bd63f534c4671b58e649d273e06df172422ab433ffa5629435.png" %>

  <div class="recipe-upvotes">
    <p class="num-votes"> <%= recipe.get("num_votes") %> </p>
    <p class="arrow">
      &#8607;
    </p>
  </div>

  <% if (recipe.get("image_url") != missing) { %>
    <figure class="image-thumb">
      <img src="<%= recipe.escape("image_url") %>">
    </figure>
  <% } %>
</a>
