<button class="minimize"> x </button>
<h1> Create a New Recipe </h1>

<ul class="errors"></ul>

<label>
  Primary Tag
</label>
<div class="primary-tags group">
  <% for (var i = 0; i < CookingGenius.recipeTags.length; i++) { %>
    <% var tag = CookingGenius.recipeTags[i] %>
    <input type="radio" class="tag" name="recipe[primary_tag]" id="<%= tag %>" value="<%= tag %>">
    <label for="<%= tag %>" class="tag-label"><%= tag %></label>
  <% } %>
</div>

<label>
  Serves
  <input class="servings" type="text" name="recipe[servings]" value="">
</label>

<label>
  Title
  <input class="title" type="text" name="recipe[title]" value="">
</label>

<br><br>
<label>
  Ingredients
  <ul class="ingredients"></ul>
</label>
<button class="add-ingredient"> + </button>

<br><br>
<label>
  Instructions
  <textarea name="recipe[instructions]" value=""></textarea>
</label>

<label>
  <div class="fileUpload">
    <input type="file" class="upload" name="recipe[image]" id="recipe-image">
  </div>
</label>
<p class="filename">no file chosen</p>

<br><br>

<button class="create-recipe">Create Recipe</button>
