<h3> Create a New Recipe </h3>

<label>
  Title
  <input type="text" name="recipe[title]" value="">
</label>

<label>
  Ingredients
</label>

<label>
  Instructions
  <textarea name="recipe[instructions]" value=""></textarea>
</label>

<button>Create Recipe</button>
