<h1> Create a New Recipe </h1>

<label>
  Title
  <input type="text" name="recipe[title]" value="">
</label>

<br><br>
<label>
  Ingredients
  <ul class="ingredients"></ul>
</label>
<button class="add-ingredient">Add Ingredient</button>

<br><br>
<label>
  Instructions
  <textarea name="recipe[instructions]" value=""></textarea>
</label>

<br><br>
<button class="create-recipe">Create Recipe</button>
