<h1 class="recipe-title"><%= recipe.get("title") %> </h1>

<h2>category: <%= recipe.get("primary_tag") %></h2>


<h3> Ingredients </h3>
<ul class="ingredients"></ul>

<h3> Instructions </h3>

<div class="instructions">
<%= recipe.escape("instructions") %>
</div>

<div class="annotation-pop-up"></div>

<button class="delete-recipe">Delete This Recipe</button>
