<h1 class="recipe-title"><%= recipe.get("title") %> </h1>

<h2> Ingredients </h2>
<ul class="ingredients"></ul>

<h2> Instructions </h2>
<p class="instructions">
  <%= recipe.get("instructions") %>
</p>

<button class="delete-recipe">Delete This Recipe</button>
