.annotation-form {
  position: fixed;
  border: 1px solid black;
  right: 50px;
  top: 50px;
  width: 300px;
  background: #eee;
  padding: 15px;
  border-radius: 5px;
}

.annotation-show {
  position: fixed;
  border: 1px solid black;
  right: 75px;
  top: 75px;
  width: 300px;
  background: #eee;
  padding: 15px;
  border-radius: 5px;
}

.annotation-form textarea {
  margin: auto;
  width: 250px;
  height: 250px;
}

.annotation-form button {
  display: block;
}

.annotationRecipesIngredient, .annotationRecipe {
  background: #ccc;
}

.annotationRecipesIngredient:hover,  .annotationRecipe:hover{
  background: yellow;
}

span {
  background: green;
}
