.annotation-form {
  display: block;
  position: fixed;
  right: 125px;
  top: 125px;
  width: 300px;
  background: #eee;
  padding: 15px;
  border-left: 3px solid  #ad0047;
}

.annotation-form h1 {
  margin-top: 25px;
}

.annotation-pop-up {
  text-align: right;
  position: fixed;
  right: 125px;
  top: 125px;
  width: 400px;
  height: 600px;
  max-height: 600px;
  overflow: auto;
  display: none;
}

.annotation-pop-up.active {
  display: block;
}

.show-annotation {
  text-align: left;
}

.annotation-show {
  border-left: 3px solid  #ad0047;
  border-bottom: 1px solid #aaa;
  width: 350px;
  background: #eee;
  padding: 15px;
  padding-top: 35px;
}

.annotation-show:last-child {
  border-bottom: 0;
}

.annotation-form textarea {
  margin: auto;
  margin-bottom: 10px;
  width: 200px;
  height: 30px;
  transition: height .5s;
  resize: none;

}

.annotation-form textarea:focus {
  width: 200px;
  height: 250px;
}

.annotation-form button {
  display: block;
}

.annotationRecipesIngredient, .annotationRecipe {
  background: #ccc;
}

.annotationRecipesIngredient:hover, .annotationRecipe:hover {
  font-weight: normal;
}

.annotationRecipe.active, .annotationRecipesIngredient.active {
  background: rgba(255, 211, 25, .3);
}

.annotationRecipe.opaque, .annotationRecipesIngredient.opaque, .temp-highlight {
  background: rgba(255, 211, 25, 1);
}

.annotation-image {
  width: 275px;
  margin: auto;
  margin-top: 20px;
}

.annotation-form .fileUpload, .annotation-form .filename {
  float: left;
}

.annotation-form .filename {
  padding-top: 15px;
  padding-left: 10px;
}

.create-annotation {
  float: right;
}

.minimize-annotation {
  border: 3px solid #ad0047;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  font-weight: bold;
  background: #aaa;
  color: white;
}

.minimize-annotation:hover {
  background: #ad0047;
}

.reply-form {
  padding-top: 20px;
  width: 200;
  margin: auto;
}

.reply {
  height: 35px;
  background: white;
  float: right;
}

.reply-list-item {
  width: 250px;
  float: right;
}

.reply-text {
  float: left;
  width: 250px;
  background: white;
  height: 30px;
  border: 1px solid black;
  resize: none;
  transition: height .5s;
}

.reply-text:focus {
  height: 150px;
}

.reply-form button:hover {
  background: #ddd;
}

.reply-list-item {
  border-top: 2px solid #aaa;
  margin-top: 10px;
}

.sign-in-link {
  color: #ee2346;
}
