.recipe-feed {
  background: white;
  width: 780px;
  margin: auto;
  border: 1px solid black;
  margin-top: 20px;
  padding: 10px;
}

.recipe-feed-item {
  background: white;
  position: relative;
  width: 760px;
  height: 100px;
  margin: auto;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 20px;
}

.recipe-feed-item a {
  display: block;
  float: left;
  margin-left: 20px;
  margin-top: 40px;
  text-transform: uppercase;
}

.recipe-feed-item .image-thumb {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 77px;
  height: 77px;
  margin-right: 20px;
}

.recipe-feed-item .image-thumb img {
  border: 1px solid black;
}

.recipes-feed {
  max-height: 1000px;
  overflow: auto;
}

.tag-links {
  float: left;
}

.open-search {
  border-radius: 0px;
  float: right;
  height: 38px;
  width: 38px;
  border: 0;
  padding: 3px;
  border-left: 1px solid black;
  background-image: asset-url("search.png");
  background-size: 17px;
}

#query {
  border: 1px solid black;
  height: 30px;
  width: 200px;
}

.search-window {
  width: 800px;
  margin: 20px;
}
