.main {
  width: 850px;
  margin: auto;
  margin-top: 25px;
  padding: 25px;
  background: white;
  border: 1px solid black;
}

.recipe-tag-nav-bar {
  width: 800px;
  margin: auto;
  margin-top: 20px;
  border: 1px solid black;
}

.author-search {
  float: left;
}

.author-search button {
  font-size: 12px;
}

.recipe-tag-nav-bar label {
  font-size: 12px;
}

.recipe-tag-nav-bar input {
  width: 100px;
}

.tag-links {
  margin: auto;
  background: white;
}

.tag-links li {
  float: left;
}

.tag-nav-link {
  font-size: 14px;
  float: left;
  padding: 10px 10px;
  border-right: 1px solid black;
}

.tag-nav-link:hover {
  text-decoration: none;
  color: white;
  background: #228B22;
}
