.header {
  width: 100%;
}

.logged-in {
  width: 802px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  font-family: sans-serif;
  color: black;
  height: 55px;
  padding-bottom: 15px;
  background: white;
  border-bottom: 1px solid #eee;
}

.logged-in a {
  color: #ee2346;
}

.logged-in a:hover {
  color: #fbad18;
}

.logged-in button {
  float: right;
  margin: 3px;
  margin-top: 26px;
}

.logged-in button:hover {
  background-color: rgba(153, 153, 153, 0.09019);
}

.logged-in h3 {
  float: right;
  height: 100%;
  margin-top: 21px;
  margin-right: 10px;
}

.logged-in .home {
  float: left;
  height: 100%;
  margin-top: 9px;
  margin-right: 10px;
  margin-left: 5px;
}

.home a {
  display: block;
  position: absolute;
  top: 10px;
  width: 400px;
  height: 60px;
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-size: 376px 180px;
}

.home a:hover {
  background-position: 0 -60px;
}

.home a:active {
  background-position: 0 -120px;
}
