.header {
  width: 100%;
  background-color: rgb(41, 41, 41);
}

.logged-in {
  width: 900px;
  margin: auto;
  display: block;
  position: relative;
  background-color: rgb(41, 41, 41);
  font-family: sans-serif;
  color: #eee;
  height: 35px;
  padding-bottom: 15px;
}

.logged-in a {
  color: #F5B800;
}

.logged-in button {
  float: right;
  margin: 3px;
  margin-top: 10px;
}

.logged-in button:hover {
  background-color: rgba(153, 153, 153, 0.09019);
}

.logged-in h3 {
  float: right;
  height: 100%;
  margin-top: 6px;
  margin-right: 10px;
}

.logged-in .home {
  float: left;
  height: 100%;
  margin-top: 9px;
  margin-right: 10px;
  margin-left: 5px;
}
