.pop-up {
  width: 482px;
  border: 1px solid rgb(85, 85, 85);
  border-radius: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 150px;
  font-family: sans-serif;
  background-color: rgb(41, 41, 41);
}

.pop-up form {
  position: relative;
  width: 370px;
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(85, 85, 85);
  border-radius: 3px;
  background-color: rgba(153, 153, 153, 0.09019);
}

.pop-up h1 {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  margin: 10px;
  color: #F5B800;
}

.pop-up label {
  display: block;
  margin-top: 5px;
  color: #eee;
}

.pop-up input {
  display: block;
  width: 100%;
  height: 25px;
  background-color: rgba(153, 153, 153, 0.09019);
  border: 1px solid rgb(85, 85, 85);
  border-radius: 2px;
}

.pop-up button {
  margin-top: 10px;
  color: #eee;
}

.pop-up button:hover {
  background-color: rgb(41, 41, 41);
}

.pop-up p {
  text-align: center;
  display: block;
  margin-bottom: 10px;
  color: #aaa;
}

.pop-up a {
  color: #5ba7c2;
}
