.recipe {
  font-family: sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  width: 760px;
  margin: auto;
  background: white;
}

.recipe-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-bottom: 2px solid #eee;
}

.recipe-image img {
  transform: translateY(-35%);
  overflow: hidden;
}

.recipe .header-text {
  position: absolute;
  top: 20px;
}

.recipe-title {
  font-size: 30px;
  font-weight: 300;
  background: white;
  color: black;
  display: block;
  margin-right: 20px;
  padding: 3px;
  border: 1px solid black;
  text-transform: uppercase;
}

.category {
  background: white;
  color: black;
  width: 110px;
}

.author {
  background: white;
  color: black;
  margin-top: 0;
  width: 75px;
}

.author{
   top: 55px;
   left: 20px;
   padding: 3px;
   border: 1px solid black;

}

.category {
  font-size: 16px;
  padding: 3px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.servings, h3 {
  margin: 0;
  border-bottom: 2px solid #eee;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

.recipe .ingredient {
  margin: 0;
}

.instructions {
  font-family: sans-serif;
  width: 450px;
}

.delete-recipe {
  float: right;
  margin: 10px;
}

.delete-recipe:hover {
  background: #ddd;
}

.toggle-recipe-upvote {
  width: 55px;
  background: white;
  border-radius: 50%;
  padding-left: 11px;
  padding-right: 10px;
}

.toggle-recipe-upvote p {
  font-size: 15px;
  float: left;
}

.toggle-recipe-upvote .arrow {
  float: right;
  font-size: 25px;
  padding-top: 5px;
  margin: 0;
  left: 0;
  top: 0;
  text-align: center;
}
