.recipe {
  font-family: sans-serif;
}

.recipe-title {
  font-size: 36px;
  font-weight: bold;
}

.recipe h2 {
  font-size: 28px;
}

.recipe h3, .servings {
  font-size: 24px;
}

.instructions {
  font-family: sans-serif;
  width: 650px;
}
