.recipe {
  font-family: sans-serif;
  width: 800px;
  margin: auto;
}

.recipe-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.recipe-image img {
  transform: translateY(-30%);
}

.recipe .header-text {
  position: absolute;
  top: 20px;
  left: 20px;
}

.recipe-title {
  font-size: 30px;
  font-weight: 300;
  background: white;
  color: black;
  display: block;
  margin-right: 20px;
  padding: 3px;
  border: 1px solid black;
  text-transform: uppercase;
}

.category {
  background: white;
  color: black;
  width: 110px;
}

.author {
  background: white;
  color: black;
  width: 75px;
}

.author{
   top: 55px;
   left: 20px;
   padding: 3px;
   border: 1px solid black;
}

.category {
  font-size: 16px;
  top: 90px;
  left: 20px;
  padding: 3px;
  border: 1px solid black;
}

.servings, h3 {
  font-size: 20px;
}

.recipe .ingredient {
  margin: 0;
}

.instructions {
  font-family: sans-serif;
  width: 450px;
}

.delete-recipe {
  float: right;
}

.toggle-recipe-upvote {
  width: 45px;
}

.toggle-recipe-upvote p {
  font-size: 15px;
  float: left;
}

.toggle-recipe-upvote .arrow {
  float: right;
  font-size: 25px;
  padding-top: 5px;
  margin: 0;
  left: 0;
  top: 0;
  text-align: center;
}
