.toggle-annotation-upvote, .toggle-reply-upvote,
.toggle-recipe-upvote, .toggle-user-upvote {
  height: 55px;
  width: 40px;
  background: white;
  border-radius: 5px;
  float: left;
  margin-top: 20px;
}

.toggle-recipe-upvote {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.toggle-annotation-upvote:hover, .toggle-reply-upvote:hover {
  background: #eee;
}


.toggle-annotation-upvote p, .toggle-reply-upvote p,
.toggle-recipe-upvote p, .toggle-user-upvote p  {
  font-size: 15px;
  float: left;
}

.toggle-annotation-upvote .arrow, .toggle-reply-upvote .arrow,
.toggle-recipe-upvote .arrow, .toggle-user-upvote .arrow {
  float: right;
  font-size: 25px;
  padding-top: 5px;
  margin: 0;
  left: 0;
  top: 0;
  text-align: center;
}

.toggle-recipe-upvote, .toggle-user-upvote {
  float: none;
}

.upvotes {
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 7px;
  width: 35px;
  height: 35px;
  background: white;
  border: 1px solid black;
  border-radius: 3px;
  margin-top: 20px;
}
