.user-show {
  font-family: sans-serif;
  width: 800px;
  margin: auto;
  background: white;
}

.user-name {
  font-weight: bold;
  font-size: 36px;
}

.display-recipe-form {
  margin-left: 10px;
  padding: 10px;
}

.display-recipe-form:hover {
  background: #eee;
}
