.user-show {
  font-family: sans-serif;
  padding: 20px 100px;
  width: 800px;
  margin: auto;
  background: white;
}

.user-name {
  font-weight: bold;
  font-size: 36px;
}

.toggle-user-upvote {
  width: 55px;
  background: white;
  border-radius: 50%;
  padding-left: 11px;
  padding-right: 10px;
  margin-left: 15px;
}

.toggle-user-upvote p {
  font-size: 15px;
  float: left;
}

.toggle-user-upvote .arrow {
  float: right;
  font-size: 25px;
  padding-top: 5px;
  margin: 0;
  left: 0;
  top: 0;
  text-align: center;
}
