.user-show {
  font-family: sans-serif;
  padding: 20px 100px;
  width: 800px;
  margin: auto;
  background: white;
}

.user-name {
  font-weight: bold;
  font-size: 36px;
  /*float: left;*/
}

.display-recipe-form {
  margin-top: 30px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 18px;
  width: 20px;
  border-radius: 50%;
  font-weight: bold;
}

.display-recipe-form:hover {
  background: #eee;
}
