<nav class="recipe-tag-nav-bar">
  <ul class="tag-links group">
    <% for (var i = 0; i < CookingGenius.recipeTags.length; i++) { %>
      <% var tag = CookingGenius.recipeTags[i]; %>
      <% var tagURL = "#/recipes/" + tag %>
      <li> <a class ="tag-nav-link" href="#"><%= tag %></a> </li>
    <% } %>
  </ul>
</nav>

<!-- <form class="author-search" action="index.html" method="post">
  <label>
    Search by Author:
    <input type="text" name="name">
  </label>
  <button>Go!</button>
</form> -->

<div class="recipe-feed-container"></div>
