<div class="main">
<h1 class="logo">Smart Cookie</h1>

<nav class="recipe-tag-nav-bar group">
  <ul class="tag-links group">
    <% for (var i = 0; i < CookingGenius.recipeTags.length; i++) { %>
      <% var tag = CookingGenius.recipeTags[i]; %>
      <% var tagURL = "#/recipes/" + tag %>
      <li> <a class ="tag-nav-link" href="#"><%= tag %></a> </li>
    <% } %>
    <li> <a class ="tag-nav-link" href="#">all</a> </li>
  </ul>
  <button class="open-search"></button>
</nav>

<div class="recipe-feed-container"></div>
</div>
