<div class="main">
<nav class="recipe-tag-nav-bar group">
  <ul class="tag-links group">
    <% for (var i = 0; i < CookingGenius.recipeTags.length; i++) { %>
      <% var tag = CookingGenius.recipeTags[i]; %>
      <% var tagURL = "#/recipes/" + tag %>
      <li> <a class ="tag-nav-link" href="#"><%= tag %></a> </li>
    <% } %>
    <li> <a class ="tag-nav-link" href="#">all</a> </li>
  </ul>

  <div class="search-bar group">
    <input type="text" id="query" placeholder="search!">
    <button class="search"></button>
  </div>
</nav>

<div class="add-recipe">
  Can't find what you're looking for?  Why not <a class="recipe-form-link" href="#/recipes/new">add a recipe</a>?
  Or, <a class="menu-form-link" href="#/menus/new">create a menu</a>!
  <div class="new-recipe"></div>
  <div class="new-menu"></div>
</div>

<div class="recipe-feed-container"></div>
</div>
