<% if (totalPages > 0) { %>
<p>
  Page <%= page %> of <%= totalPages %>
</p>
<% } else { %>
  No results.
<% } %>

<% if (page > 1) { %>
  <a href="javascript:void(0)" class="previous-page page"> Previous Page </a>
<% } %>

<% if (page < totalPages) { %>
  <a href="javascript:void(0)" class="next-page page"> Next Page </a>
<% } %>

<ul id="search-results" class="droppable"></ul>
