<p>
  Pages: <span id="pages">0</span>
</p>

<% if (page < totalPages) { %>
  <a href="javascript:void(0)" class="next-page">Next Page</a>
<% } %>

<% if (page > 1) { %>
  <a href="javascript:void(0)" class="previous-page">Previous Page</a>
<% } %>

<ul id="search-results"></ul>
