<a class="minimize-menu" href="#"> Minimize </a>
<h1>Create a Menu!</h1>
<p>
  Search for recipes below, and drag them over to the right to add them to your menu.
  Just add a title, and you're good to go!
</p>
<div class="left-panel">
  <input type="text" id="query" placeholder="search!"></input>
  <button class="search-button">Search</button>
  <div class="recipes"></div>
</div>

<div class="right-panel">
  <input type="text" class="menu-title" placeholder="Enter a Menu Title"></input>
  <h3>Selected Recipes</h3>
  <ul class="menus-recipes sortable droppable"></ul>
  <button class="menu-button">Create Menu</button>
</div>
