<p class="reply-body">
<%= reply.escape("body") %>
</p>

<% var userURL = "#/users/" + reply.author().id %>
<p class="reply-author">
by <a href="<%= userURL %>"> <%= reply.author().get("name") %> </a>
</p>
